Source: libraptor
Priority: extra
Maintainer: Fedor Korotky <prime@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0),
			   scons (>= 2.0.0),
			   libboost-dev,
			   libev-dev
Standards-Version: 3.9.2

Package: libraptor-dev
Architecture: amd64
Depends: libboost-dev, libev-dev
Description: Fibers library
